#EXTM3U
#EXTINF:-1,A&E
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/87.m3u8
#EXTINF:-1,ANIMAL PLANET
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/86.m3u8
#EXTINF:-1,ANIMAL PLANET HD
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/295.m3u8
#EXTINF:-1,AXN HD
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/504.m3u8
#EXTINF:-1,BAND HD
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/296.m3u8
#EXTINF:-1,BAND SPORTS SD
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/84.m3u8
#EXTINF:-1,BAND SPORT HD
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/534.m3u8
#EXTINF:-1,BAND NEWS
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/89.m3u8
#EXTINF:-1,BIS HD
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/535.m3u8
#EXTINF:-1,BOOMERANG
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/90.m3u8
#EXTINF:-1,CARTOON NETWORK
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/82.m3u8
#EXTINF:-1,CINEMAX
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/91.m3u8
#EXTINF:-1,COMBATE
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/135.m3u8
#EXTINF:-1,COMBATE HD
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/136.m3u8
#EXTINF:-1,COMEDY CENTRAL
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/156.m3u8
#EXTINF:-1,DISNEY CHANNEL
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/96.m3u8
#EXTINF:-1,DISCOVERY CHANNEL HD
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/288.m3u8
#EXTINF:-1,DISCOVERY CIVILIZATION
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/79.m3u8
#EXTINF:-1,DISCOVERY H&H HD
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/297.m3u8
#EXTINF:-1,DISCOVERY KIDS
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/93.m3u8
#EXTINF:-1,DISCOVERY SCIENCE
http://iptv.servidorfull.com:8081/live/4yNuxeMbDq/nntZnQzHQu/94.m3u8
